* {
  font-size: 16px;
  letter-spacing: .1em;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Beigly Demo';
  src: url('fonts/BeiglyDemo.ttf') format('truetype');
}

@font-face {
  font-family: 'Fatso';
  src: url('fonts/FATSOCAP.ttf') format('truetype');
}

@font-face {
  font-family: 'Choc';
  src: url('fonts/CHOCD.otf');
}

@font-face {
  font-family: 'Retro';
  src: url('fonts/MyGirlisRetro.ttf');
}

.grid {
  display: grid;
  font-family: 'Retro';
  background: linear-gradient(to right, steelblue, white 18.5%, pink, #ff7c4d 85%);
  grid-template-columns: 1fr 3fr 1.5fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas:
  "drawer header header"
  "drawer graphs graphs"
  "drawer description socials";
  height: 220vh;
}

/*drawer styling*/

.drawer {
  color: snow;
  display: grid;
  font-family: 'Fredoka One';
  grid-area: drawer;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr;
  grid-template-areas: 
  "pic"
  "main"
  "admin"
  "categories";
  line-height: 2em;
  padding-right: 20px;
}

.bottom-heading {
  display: inline-flex;
}

.drawer-hover {
  display: inline-flex;
  width: 100%;
}

.drawer-home {
  margin-right: 100%;
}

.drawer-hover:hover {
  color: green;
}

.drawer-hover-2:hover {
  color: pink;
}

.drawer-hover-3:hover {
  color: navy;
}

.img-circle {
  border-radius: 50%;
}

.job-boards {
  color: pink;
}

.profile-pic {
  border-bottom: 5px dotted cyan;
  grid-area: pic;
  margin: auto;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 15px;
}

.username {
  margin-left: 10%;
}

.lolli {
  margin: 0 1em;
  padding-top: .5em;
}

.lolli-i {
  margin: 0 .5em 0 1em;
}

.main-drawer {
  border-bottom: 5px dotted lightgreen;
  grid-area: main;
  padding-top: 1em;
  width: 80%;
}

.main-drawer-heading {
  margin-left: 1em;
}

.admin {
  grid-area: admin;
  border-bottom: 5px dotted blueviolet;
  padding-top: 1em;
  width: 80%;
}

.categories {
  grid-area: categories;
  padding-top: 1em;
}

/*header styling*/

.header {
  /*background: linear-gradient(to bottom right, green 50%, white 18.5%, pink, #ff7c4d 85%);*/
  background-color: white;
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "navbar navbar navbar"
  "maintitle maintitle navbtns"
  "subheader subheader subheader"
}

.nav-bar {
  display: inline-flex;
  grid-area: navbar;
}

/*nav bar css*/

.grid-btn {
  background-image: url(images/grapes.svg);
}

.hamburger {
  background-image: url(images/menu.svg);
}

.notepad {
  background-image: url(images/pineapple.svg);
}

.profile {
  background-image: url(images/orange.svg);
  background-color: orange;
}

.searchbtn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  height: 50px;
  width: 50px;
}

/*hover states*/

.grid-btn:hover {
  background-color: darkred;
}

.hamburger:hover {
  background-color: darkblue;
}

.notepad:hover {
  background-color: purple;
}


/*end of navbar css*/

.header-btn {
  border: 3px solid orange;
  border-radius: 40px;
  margin-right: 10px;
  width: 2.5em;
  height: 2.5em;
}

.header-btn:hover {
  background-color: pink;
}

.online {
  padding-left: .5em;
  padding-right: .5em;
}

.open-button {
  display: inline-flex;
  font-size: .9em;
  grid-area: openbtn;
  width: 6em;
}

.bkm-button {
  background-image: url(images/bookmark-tag.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  grid-area: bkmbtn;
}

.pencil-button {
  background-image: url(images/fork.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  grid-area: pencilbtn;
}

.trash-button {
  background-image: url(images/dinner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  grid-area: trashbtn;
}

.nav-buttons {
  display: inline-flex;
  grid-area: navbtns;
  margin-top: 30px;
}

.sub-headers {
  align-items: flex-end;
  display: flex;
  grid-area: subheader;
  margin-left: 1em;
}

.sub {
  display: inline-flex;
  margin: 0 1em .5em;
}

.search {
  background-color: pink;
  border: none;
  color: blue;
  font-family: 'Beigly Demo';
  grid-area: search;
  height: 3.1em;
  width: 80%;
}

/*location preview*/

.location {
  margin-right: 1em;
}

.location-preview {
  display: inline-flex;
  margin-top: .3em;
}

.main-title {
  grid-area: maintitle;
  margin: 30px 0 0 20px;
}

.pin {
  margin-right: .2em;
}

.preview {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

/*end of location preview*/

.title {
  color: black;
  font-family: 'Beigly Demo';
  font-size: 2em;
  grid-area: title;
}

.location {
  color: lightgreen;
  grid-area: location;
  font-family: ;
}

.preview {
  color: lightpink;
  grid-area: preview;
  margin-top: 3px;
}

.summary-header {
  color: dodgerblue;
  border-bottom: solid 2px #000;
  padding-bottom: 5px;
  margin-bottom: 0;
  grid-area: summary;
}

.applicants-header {
  color: black;
  grid-area: applicants;
}

.job-header {
  color: black;
  grid-area: job;
}

.interview-header {
  color: black;
  grid-area: interview;
}

.activity-header {
  color: black;
  grid-area: activity;
}

.broadcast-header {
  color: black;
  grid-area: broadcast;
}

.notification-header {
  color: black;
  grid-area: notification;
}

.sub {
  font-family: 'Fascinate';
  font-size: 1em;
}

/*hover states*/

.applicants-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

.job-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

.interview-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

.activity-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

.broadcast-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

.notification-header:hover {
  color: dodgerblue;
  cursor: pointer;
}

/*end of header styling*/

/*graphs styling*/

.graphs {
  border-bottom: 3px dotted #ff8533;
  border-image: linear-gradient(to right, lightgreen 5%, #ffff99 20%, #3acfd5 80%);
  border-image-slice: 1;
  display: inline-flex;
  grid-area: graphs;
  margin-bottom: 4em;
  position: relative;
  z-index: 1;
}

.circlies {
  display: inline-flex;
  margin-top: 20%;
  margin-right: 0;
  margin-left: 5%;
}

.donut-container {
  width: 150px;
  height: 150px;
  float: left;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  margin-right: 20px;
}

.donut-inner {
  width: 134px;
  height: 134px;
  position: relative;
  top: 8px;
  left: 8px;
  background: #ffb3cc ;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
}

.donut-label {
  padding-top: 45px;
  line-height: 25px;
  text-align: center;
  font-size: 13px;
  color: grey;
}

.donut-number {
  color: #525A65;
  font-size: 34px;
  margin-bottom: 3px;
}

.fruit-graph {
  display: inline-flex;
  margin-top: 3%;
}

.press-btn {
  background-color: aquamarine;
  display: inline-block;
  left: 13.6%;
  margin-top: 13.3%;
  border-radius: 40px;
  width: 300px;
}

.squish-btn {
  background-color: aqua;
  margin-top: 26px;
  border-radius: 40px;
  width: 300px;
}

.graph-and-button {
  text-align: center;
}

/*description styling*/
.descriptions {
  grid-area: description;
  height: 100%;
  width: 100%;
}

.description-table {
  background: pink;
  opacity: .6;
  height: 680px;
  width: 80%;
  margin: auto;
}

.edit-button {
  margin-left: 10px;
  padding: 3px;
}

.edit-icon {
  margin: 3px 3px;
}

.job {
  color: white;
  margin-right: 15px;
}

th, 
td {
    border-bottom: 1px dashed purple;
    border-collapse: collapse;
    padding-left: 20px;
}

.right {
  padding-left: 20px;
  vertical-align: center;
}

.right-bottom {
  border: none;
}

.right-hiring {
  position: relative;
  padding-left: 20px;
}

.top-description {
  background: blue;
  opacity: .8;
  text-align: left;
}

.hiring-lead {
  border-radius: 50%;
}

.hiring-text {
  margin-left: 10px;
  position: absolute;
  margin-top: 15px;
}

/*end of description styling*/

/*social section styling*/

.mouth {
  position: absolute;
  left: 10px;
  top: 5px;
}

.social {
  grid-area: socials;
}

.scl-btn {
  font-family: 'retro';
  letter-spacing: .5em;
  height: 2em;
  position: relative;
  margin: 30px auto 0 10%;
  width: 80%;
}

.scl-btn:hover {
  cursor: pointer;
}

.input-and-button {
  border-bottom: 1px solid black;
  display: inline-flex;
  margin-left: 10%;
  margin-bottom: 5%;
  padding-bottom: 30px;
  width: 80%;
}

.bottom-social {
  border-bottom: none;
}

.social-btn {
  background: cyan;
  border: 2px solid cyan;
  height: 2.2em;
}

.social-btn:hover {
  background: violet;
}

.social-input {
  background: red;
  color: #7d00b3;
  padding-left: 3%;
  height: 2em;
  width: 80%;
}

.social-text {
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
}

.social-h {
  color: darkviolet;
  margin-bottom: 10px;
}

.social-type {
  margin-top: 3em;
  margin-bottom: 2em;
}

.facebook {
  background-color: orange;
  margin-top: 0;
}

.linkedin {
  background-color: forestgreen;
}

.twitter {
  background-color: yellow;
}

@media only screen and (max-width: 1400px) and (min-width: 1201) {
  .donuts {
    margin: auto;
  }

  .press-btn {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .drawer {
    padding-right: 25px;
  }

  /*.drawer-hover {
    width: 80%;
  }

  .drawer-hover-2 {
    width: 80%;
  }

  .drawer-hover-3 {
    width: 80%;
  }*/

  .profile-pic {
    border: none;
    padding: 0;
    padding-right: 25px;
    padding-left: 15px;
    margin: auto;
  }

  .profile-border {
    margin-left: -50px;
    width: 100%;
    border-bottom: 5px dotted cyan;
    padding-bottom: 20px;
  }

  .grid {
    height: 1600px;
  }

  .graphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "circles fruit"
  }

   .circle-grid {
    grid-area: circles;
  }

  .circlies {
    margin-top: 100px;
  }

  .fruit-grid {
    grid-area: fruit;
    margin-top: 40px;
  }

  .press-btn {
    margin-top: 88px;
  }

  .search {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .graphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1.3fr;
    grid-template-areas: 
    "circles circles"
    "fruit fruit"
  }

  .header {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50px 1fr .7fr .2fr;
    grid-template-areas: 
    "navbar navbar navbar"
    "maintitle maintitle navbtns"
    "subheader subheader subheader"
    "subheader subheader subheader"
  }

  .sub-headers {
    margin-top: 20px;
    position: relative;
    width: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .grid {
    height: 2350px;
    width: 100%;
  }

  .circle-grid {
    grid-area: circles;
    width: 100%;
  }

  .circlies {
    margin-top: 100px;
    text-align: center;
    width: 90%;
  }

  .donuts {
    margin: auto;
  }

  .fruit-grid {
    grid-area: fruit;
  }

  .graph-and-button {
    margin: auto;
  }

  .press-btn {
    margin-bottom: 4em;
    margin-top: 1em;
  }

  .profile-pic {
    padding-left: 15px;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 720px 1.3fr .3fr .4fr;
    grid-template-areas:
    "header header header"
    "graphs graphs graphs"
    "description description description"
    "socials socials socials";
    height: 100%;
  }

  .nav-buttons {
    margin-left: 8%;
  }

  .fruit-graph {
    margin-top: 40px;
    width: 80%;
  }

  .circle1 {
    background-image: url(images/raspberry.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  .circlies {
    display: none;
  }

  .facebook {
    margin-top: 40px;
  }

  .graphs {
    display: block;
    padding-top: 100px;
    width: 100%;
  }

  .press-btn {
    display: none;
  }

  .mobile-circlies {
     background: #385a94;
     border: 10px solid pink;
     border-radius: 50%;
     height: 300px;
     letter-spacing: 1em;
     width: 80%;
     margin-bottom: 50px;
     margin-left: 5%;
  }

  .inner-circle {
    position: relative;
    background: #a9aaab;
    border: 5px dashed yellow;
    border-radius: 50%;
    height:100%;
    width:65%;
    margin: 0px 0px 0px 18%;
  }

  .third-circle {
    position: relative;
    background: violet;
    border: 4px dotted green;
    border-radius: 50%;
    height:100px;
    width:100px;
    margin: 60px auto;
  }

  .drawer {
    display: none;
  }

  .header {
    display: grid;
    grid-area: header;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: .1fr .3fr 100px .2fr .2fr;
    grid-template-areas: 
    "navbar navbar navbar"
    "maintitle maintitle maintitle"
    "navbtns navbtns navbtns"
    "subheader subheader subheader"
    "subheader subheader subheader"
  }

  .sub-headers {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    grid-area: subheader;
    margin-left: 1em;
  }

  .edit-icon {
    margin: 3px 3px;
  }

  .description-table {
    height: 500px;
  }

  .mouth {
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .social {
    grid-area: socials;
  }

  .scl-btn:hover {
    cursor: pointer;
  }

  .input-and-button {
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
  }

  .social-btn {
    background: cyan;
    border: 2px solid cyan;
    height: 2.2em;
  }

  .social-btn:hover {
    background: violet;
  }

  .social-input {
    background: red;
    color: #7d00b3;
    padding-left: 20%;
    height: 2em;
    width: 60%;
  }

  .social-text {
    margin-left: 10%;
    margin-bottom: 5%;
  }

  .social-h {
    color: darkviolet;
    margin-bottom: 10px;
  }

  .social-type {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}
